@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    background-color: #F8EDE3;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.active {
    background-color: #BDD2B6;
}

.keypad {
    min-height: 30vh;
    position: sticky;
    bottom: 0;
}

.player-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* 2 parts for name, 1 part each for OB and score */
    align-items: center;
    gap: 10px;
    /* Space between columns */
}

.player-name {
    text-align: left;
    /* Align name to the left */
}

.player-score {
    text-align: right;
    /* Align score to the right */
}

.ob-toggle {
    text-align: center;
    min-width: 50px;
    /* Ensures consistent button size */
}